body {
    background-color: #fdfdbb;
}

a {
    color: #ff0000;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    text-align: center;
}
 table{border: 1px solid;
background-color: black;
color: white;
text-align: end;}

th{background-color: #259e3f;
color: #000;
text-align: center;}