body {
    background-color: #fdfdbb;
}

a {
    color: #ff0000;
}

h1 {
    text-align: center;
}



span {
    color: #ff0000
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    text-align: center;
}