<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update Student {{student.roll_number}}</h1>
    <form action="/student/{{student.roll_number}}/update" method="POST" id="update-form">
        
        <div>
        <label>Roll Number:</label>
        <input type="text" name="roll" value="{{student.roll_number}}" disabled />
        </div>
        <div>
        <label>First Name:</label>
        <input type="text" name="f_name" value="{{student.first_name}}" required />
        </div>
        <div>
        <label>Last Name:</label>
        <input type="text" name="l_name" value="{{student.last_name}}"/>
        </div>
        <div>
        <label>Select Courses: </label>
        <input type="checkbox" name="courses" value="1" />
        <label>MAD I</label>
        <input type="checkbox" name="courses" value="2" />
        <label>DBMS</label>
        <input type="checkbox" name="courses" value="3" />
        <label>PDSA</label>
        <input type="checkbox" name="courses" value="4" />
        <label>BDM</label>
        </div>
        <div>
        <input type="submit" method="POST" value = "Submit">
        </div>
        </form>
</body>
</html>