<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Course List</h1>
    {% if course|length >0%}
    <table id="all-courses">
        <tr>
            <th>SNo</th>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Course Description</th>
            <th>Actions</th>
        </tr>
        {% for c in course %}
        <tr>
            <td>{{c["course_id"]}}</td>
            <td><a href="/course/{{c["course_id"]}}">{{c["course_code"]}}</a></td>
            <td>{{c["course_name"]}}</td>
            <td>{{c["course_description"]}}</td>
            <td>
                <a href="/course/{{c["course_id"]}}/update">Update</a>
                <a href="/course/{{c["course_id"]}}/delete">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No course found. Add the courses now!</p>
    {% endif %}
    <a href="/course/create" type="button">Add Course</a>
</body>

</html>